<section class="box">
    {{template "header" .}}
    {{template "footer" .}}
</section>
<h1>My SSE Test</h1>
<div id="result"></div>
<script>
    var source = new EventSource('http://localhost:9000/sse')
    var div = document.getElementById('result')

    source.onopen = function (event) {
        div.innerHTML += '<p>Connection open ...</p>'
    }

    source.onerror = function (event) {
        div.innerHTML += '<p>Connection close.</p>'
    }

    source.addEventListener(
        'connecttime',
        function (event) {
            div.innerHTML += '<p>Start time: ' + event.data + '</p>'
        },
        false,
    )

    source.onmessage = function (event) {
        div.innerHTML += '<p>Ping: ' + event.data + '</p>'
    }
</script>